.bioheader
{
	font-weight:bold;
	
}

.cathdr
{
	font-weight:bold;
}

.chalhdr
{
	font-weight:bold;
}

.comphdr
{
	font-weight:bold;
}

.contrhdr
{
	font-weight:bold;
}

.deschdr
{
	font-weight:bold;
}

.lochdr
{
	font-weight:bold;
}

.project
{
	border-style:solid;
	border-width:0px;
	padding:5px;
	margin:1px;		
	padding:10px;
	
}

.projheader
{
	font-weight:bold;
}

.projnmhdr
{
	font-weight:bold;
}

.required
{
	font: 12px verdana, tahoma, arial, helvetica, sans-serif;
	font-style:italic;
	color:#000066;
	font-weight:bold;
}

.tbox
{
	background-color: #F4F7FA;
	border: #5e5d63 1px solid;
	color: #000000;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;	
}

.timehdr
{
	font-weight:bold;
}

.thumb
{

}

.userinfo
{
	border-style:solid;
	border-width:1px;
	padding:5px;
}
.user_wrapper
{
	border-style:solid;
	border-width:1px;
	padding:5px;
	margin:1px;
}
.wrapper 
{
	border-style:solid;
	border-width:0px;
	width:500px;
	/*padding:10px;*/
	margin: 0px auto;
}
.char_wrapper
{
	border-style:solid;
	border-width:1px;
	padding:1px;
}
.collapsible
{
	display:none;
}
/*Zach's stuff*/
.content
{
	background-image:url('../../images/conGlassCenter.png');
	background-repeat: repeat;	
	padding:10px;
	
}
.footer
{
	background-image:url('../../images/conGlassBottom.png');
	background-repeat: repeat-x;
	height:74px;
}
.header
{
	background-image:url('../../images/conGlassTop.png');
	background-repeat: repeat-x;
	width:500px;
	margin: 0px auto;
	height:74px;
}
.body_content
{
	background-image:url('../../images/carb.png');
	background-repeat: repeat;	
}

